<header>
  <a [routerLink]="currentUser ? '/tasks' : '/login'"><h3>ToDo App</h3></a>
  <div class="right">
    <a *ngIf="!currentUser" routerLink="/login"><h4>Sign In</h4></a>
    <a *ngIf="currentUser" (click)="signOut()"
      ><i
        class="fas fa-lg"
        [class.fa-door-closed]="!isHovered"
        [class.fa-door-open]="isHovered"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
        style="color: #ffffff; cursor: pointer"
      ></i
    ></a>
  </div>
</header>
