<app-base-div>
  <div>
    <h2>Archive</h2>
    <ul>
      @for (task of tasks; track task.id) {
        @if (task.status === "completed") {
          <li>
            <div>
              <p class="title">{{ task.title }}</p>
              <p>{{ task.description }}</p>
              <p>{{ task.dueDate | date }}</p>
            </div>

            <p class="buttons">
              <button (click)="toggleCompletion(task.id)">Reset</button>
              <button (click)="deleteTask(task.id)">Delete</button>
            </p>
          </li>
        }
      }
    </ul>
  </div>
</app-base-div>
