<div>
  <ul>
    @for (task of tasks; track task.id) {
      @if (task.status === "pending") {
        <li>
          <div>
            <p class="title">
              {{ task.title }}
              <a (click)="editTask(task.id)">
                <i class="fas fa-wrench fa-sm"></i
              ></a>
            </p>
            <p>{{ task.description }}</p>
            <p>{{ task.priority }}</p>
            <p>{{ task.dueDate | date }}</p>
          </div>

          <p class="buttons">
            <button (click)="toggleCompletion(task.id)">Complete</button>
            <button (click)="deleteTask(task.id)">Delete</button>
          </p>
        </li>
      }
    }
  </ul>
</div>
