/* You can add global styles to this file, and also import other style files */
body {
  background-color: #b8b8b8;
}

button {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}

button:hover {
  background-color: #b8b8b8;
}
